<%= form_for [:admin, @course_event_attendee] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
          :object => @course_event_attendee,
          :include_object_name => true
        } %>
  
  <div class='field'>
    <%= f.label :course_event_id -%>
    <%= f.text_field :course_event_id, :class => 'larger widest' -%>
  </div>
  
  <div class='field'>
    <%= f.label :attendee_id -%>
    <%= f.text_field :attendee_id -%>
  </div>
  
  <div class='field'>
    <%= f.label :position -%>
    <%= f.text_field :position -%>
  </div>
  
  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('delete', :scope => 'admin.course_event_attendees.course_event_attendee'),
                :delete_confirmation => t('message', :scope => 'shared.admin.delete')
              } %>
<% end -%>
