<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(skill) -%>">
  <span class='title'>
    <%= skill.name %>
    <span class="preview">&nbsp;</span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_go.png"), skill_url(skill),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    <%= link_to refinery_icon_tag("application_edit.png"), edit_admin_skill_path(skill),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), admin_skill_path(skill),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'shared.admin.delete', :title => skill.name),
        :method => :delete %>
  </span>
</li>
