<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(course_event_instructor) -%>">
  <span class='title'>
    <%= course_event_instructor.title %>
    <span class="preview">&nbsp;</span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_go.png"), course_event_instructor_url(course_event_instructor),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    <%= link_to refinery_icon_tag("application_edit.png"), edit_admin_course_event_instructor_path(course_event_instructor),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), admin_course_event_instructor_path(course_event_instructor),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'shared.admin.delete', :title => course_event_instructor.title),
        :method => :delete %>
  </span>
</li>
