<%= form_for [:admin, @course_part] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
          :object => @course_part,
          :include_object_name => true
        } %>
  
  <div class='field'>
    <%= f.label :course_id -%>
    <%= f.text_field :course_id, :class => 'larger widest' -%>
  </div>
  
  <div class='field'>
    <%= f.label :part_id -%>
    <%= f.text_field :part_id -%>
  </div>
  
  <div class='field'>
    <%= f.label :position -%>
    <%= f.text_field :position -%>
  </div>
  
  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('delete', :scope => 'admin.course_parts.course_part'),
                :delete_confirmation => t('message', :scope => 'shared.admin.delete')
              } %>
<% end -%>
