<%= form_for [:admin, @instructor_skill] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
          :object => @instructor_skill,
          :include_object_name => true
        } %>
  
  <div class='field'>
    <%= f.label :instructor_id -%>
    <%= f.text_field :instructor_id, :class => 'larger widest' -%>
  </div>
  
  <div class='field'>
    <%= f.label :skill_id -%>
    <%= f.text_field :skill_id -%>
  </div>
  
  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('delete', :scope => 'admin.instructor_skills.instructor_skill'),
                :delete_confirmation => t('message', :scope => 'shared.admin.delete')
              } %>
<% end -%>
