<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(instructor) -%>">
  <span class='title'>
    <%= instructor.first_name %>
    <span class="preview">&nbsp;</span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_go.png"), instructor_url(instructor),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    <%= link_to refinery_icon_tag("application_edit.png"), edit_admin_instructor_path(instructor),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), admin_instructor_path(instructor),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'shared.admin.delete', :title => instructor.first_name),
        :method => :delete %>
  </span>
</li>
