<% content_for :body_content_title do %>
  <%= @course.title %>
<% end %>

<% content_for :body_content_left do %>
  <section>
    <h1>Title</h1>
    <p>
      <%=raw @course.title %>
    </p>
  </section>
  <section>
    <h1>Subtitle</h1>
    <p>
      <%=raw @course.subtitle %>
    </p>
  </section>
  <section>
    <h1>Short Description</h1>
    <p>
      <%=raw @course.short_description %>
    </p>
  </section>
  <section>
    <h1>Long Description</h1>
    <p>
      <%=raw @course.long_description %>
    </p>
  </section>
  <section>
    <h1>State</h1>
    <p>
      <%=raw @course.state %>
    </p>
  </section>
  <section>
    <h1>Image</h1>
    <p>
      <%= image_fu @course.image, nil %>
    </p>
  </section>
  <section>
    <h1>Format</h1>
    <p>
      <%=raw @course.format %>
    </p>
  </section>
  <section>
    <h1>Private</h1>
    <p>
      <%=raw @course.private %>
    </p>
  </section>
<% end %>

<% content_for :body_content_right do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="courses">
      <% @courses.each do |course| %>
        <li>
          <%= link_to course.title, course_url(course) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render :partial => "/shared/content_page" %>
