<%= form_for [:admin, @course] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
          :object => @course,
          :include_object_name => true
        } %>
  
  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title, :class => 'larger widest' -%>
  </div>
  
  <div class='field'>
    <%= f.label :subtitle -%>
    <%= f.text_field :subtitle -%>
  </div>
  
  <div class='field'>
    <div id='page-tabs' class='clearfix ui-tabs ui-widget ui-widget-content ui-corner-all'>
      <ul id='page_parts'>
        <% [:short_description, :long_description].each_with_index do |part, part_index| %>
          <li class='ui-state-default<%= ' ui-state-active' if part_index == 0 %>'>
            <%= link_to part.to_s.titleize, "##{part}" %>
          </li>
        <% end %>
      </ul>

      <div id='page_part_editors'>
        <% [:short_description, :long_description].each do |part| %>
          <div class='page_part' id='<%= part %>'>
            <%= f.text_area part, :rows => 20, :class => 'wymeditor widest' -%>
          </div>
        <% end %>
      </div>
    </div>
  
  
  <div class='field'>
    <%= f.label :state -%>
    <%= f.text_field :state -%>
  </div>
  
  <div class='field'>
    <%= f.label :image -%>
    <%= render :partial => "/shared/admin/image_picker", :locals => {
          :f => f,
          :field => :image_id,
          :image => @course.image,
          :toggle_image_display => false
        } %>
  </div>
  
  <div class='field'>
    <%= f.label :format -%>
    <%= f.text_field :format -%>
  </div>
  
  <div class='field'>
    <%= f.label :private -%>
    <%= f.check_box :private -%>
  </div>
  
  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('delete', :scope => 'admin.courses.course'),
                :delete_confirmation => t('message', :scope => 'shared.admin.delete', :title => @course.title)
              } %>
<% end -%>
<% content_for :javascripts do %>
  <script>
    $(document).ready(function(){
      page_options.init(false, '', '');
    });
  </script>
<% end %>
